<link rel="import" href="/components/paper-fab/paper-fab.html">
<link rel="import" href="/components/paper-card/paper-card.html">
<p id="notice"><%= notice %></p>

<h1>Levels</h1>

<% @levels.each do |level| %>
	<paper-card>
		<div class="card-content">
			<h3><%= level.name %></h3>
			<div><%= level.description %></div>
			<div><strong>By,</strong><%= level.user.name %></div>
			<div><%= level.inputs %></div>
			<div><%= level.outputs %></div>
			<div><%= level.pieces %></div>
			<div><%= level.width %></div>
			<div><%= level.height %></div>
			<%# <div>'Show', level %>
		</div>
		<div class="card-actions">
			<div class="horizontal justified">
				<%= link_to edit_level_path level do %>
					<paper-icon-button icon="edit"></paper-icon-button>
				<% end %>
				<%= link_to level, method: :delete, data: { confirm: 'Are you sure?' } do %>
					<paper-icon-button icon="delete"></paper-icon-button>
				<% end %>
			</div>
		</div>
	</paper-card>
<% end %>

<br>

<%= link_to new_level_path, class: "add-fab" do %>
	<paper-fab icon="add"></paper-fab>
<% end %>
