<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>TruBool</title>
        <%= csrf_meta_tags %>
        <meta name="theme-color" content="#000">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <link rel="manifest" href="/manifest.json"> -->
        <script src="/components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="import" href="/components/iron-icons/iron-icons.html">

        <link rel="import" href="/components/paper-button/paper-button.html">
        <link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="/components/paper-item/paper-item.html">
        <link rel="import" href="/components/paper-listbox/paper-listbox.html">

        <link rel="import" href="/components/app-layout/app-drawer-layout/app-drawer-layout.html">
        <link rel="import" href="/components/app-layout/app-drawer/app-drawer.html">
        <link rel="import" href="/components/app-layout/app-header-layout/app-header-layout.html">
        <link rel="import" href="/components/app-layout/app-header/app-header.html">
        <link rel="import" href="/components/app-layout/app-toolbar/app-toolbar.html">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'game', media: 'all', is: 'custom-style', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'game', 'data-turbolinks-track': 'reload' %>
        <%= render "layouts/styles" %>
        <%= render "levels/game-styles" %>
    </head>
    <body unresolved>
        <app-drawer-layout id="paperDrawerPanel" force-narrow>
            <app-drawer swipe-open>
                <%= render "layouts/drawercontent" %>
            </app-drawer>
            <div main>
                <canvas height="2160" width="3840"></canvas>
                <paper-button id="test" onclick="testSolution()" raised>Test</paper-button>
                <paper-icon-button id="menu-toggle" icon="menu" drawer-toggle></paper-icon-button>
            </div>
        </app-drawer-layout>
        <div id="game_board">
            <div class="width"><%= @level.width %></div>
            <div class="height"><%= @level.height %></div>
            <% for input in @level.inputs %>
                <div class="input"><div>1</div><div>0</div></div>
            <% end %>
            <div class="output"><div>1</div><div>0</div></div>
            <div class="pieces"></div>
        </div>
    </body>
</html>
