<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>TruBool</title>
        <%= csrf_meta_tags %>
        <meta name="theme-color" content="#000">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <link rel="manifest" href="/manifest.json"> -->
        <script src="/components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="import" href="/components/paper-button/paper-button.html">
        <link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="/components/iron-icons/iron-icons.html">
        <link rel="import" href="/components/paper-drawer-panel/paper-drawer-panel.html">
        <link rel="import" href="/components/paper-ripple/paper-ripple.html">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'game', media: 'all', is: 'custom-style', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'game', 'data-turbolinks-track': 'reload' %>
        <%= render "shared/styles" %>
        <%= render "levels/game-styles" %>
    </head>
    <body unresolved>
        <paper-drawer-panel id="paperDrawerPanel" force-narrow>
            <div drawer>
                <paper-ripple></paper-ripple>
            </div>
            <div main>
                <canvas height="2160" width="3840"></canvas>
                <paper-button id="test" onclick="testsolution()" raised>test</paper-button>
                <paper-icon-button id="menu-toggle" icon="menu" paper-drawer-toggle></paper-icon-button>
            </div>
        </paper-drawer-panel>
        <div id="game_board">
            <div class="width">15</div>
            <div class="height">10</div>
            <div class="input"><div>1</div><div>1</div><div>0</div><div>0</div></div>
            <div class="input"><div>1</div><div>0</div><div>1</div><div>0</div></div>
            <div class="output"><div>1</div><div>0</div><div>1</div><div>1</div></div>
            <div class="pieces"><div>1</div><div>1</div><div>2</div><div>2</div><div>3</div><div>3</div><div>2</div><div>1</div></div>
        </div>
    </body>
</html>
